/* PLEASE NOTE THAT I DO NOT OWN ANY OF THESE SNIPPETS NEITHER DID I CREATE THESE */

/* Hide user buttons until hover */
.panels-j1Uci_>.container-3baos1 .flex-1xMQg5> :not(:last-child) {
	opacity: 0%;
	width: 0px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.panels-j1Uci_>.container-3baos1:hover .flex-1xMQg5> :not(:last-child) {
	opacity: 100%;
	width: 30px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* Blur discord when not focused */
html:not(.app-focused) {
	transition: filter 400ms ease-in;
	filter: blur(6px);
}

html.app-focused {
	transition: 1000ms ease-out;
}

#app-mount:hover {
	transition: 1000ms ease-out;
}

html:not(.app-focused) #app-mount::after {
	content: "";
	z-index: 200;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

/* Unclamp the About Me section, so it's not limited to just 6 lines. (normally it cuts off at 6 and adds a ...) */
.clamped-IwJfxR {
	-webkit-line-clamp: 190;
	max-height: 112px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.clamped-IwJfxR::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}

.clamped-IwJfxR::-webkit-scrollbar-track {
	border-radius: 6px;
	background-color: rgb(255 255 255 / 10%);
}

.clamped-IwJfxR::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, #ff0000, #0000ff);
	border-radius: 6px;
}

/* Removes Chatbox from channel that don't allow you to communicate */
.channelTextAreaDisabled-8rmlrp,
.channelTextAreaDisabled-8rmlrp>.scrollableContainer-2NUZem {
	animation: nochat 0.000001ms forwards;
}

@keyframes nochat {
	to {
		height: 0;
	}
}

/* Removes Follow banner on bottom of channels */
.wrapper-39oAo3 {
	display: none;
}

/*Blur spoiler and hover*/
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9,
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover,
.contents-2mQqc9 .spoilerText-3p6IlD {
	background: rgba(0, 0, 0, 0.02);
}

.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9>.inlineContent-3ZjPuv {
	filter: blur(3px);
	opacity: 1;
}

.spoilerText-3p6IlD.hidden-HHr2R9:hover>.inlineContent-3ZjPuv {
	filter: none !important;
}

/* cool thing for connections */
.connectedAccountIcon-3_EQqg~div::before {
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 1px solid var(--border-color);
	position: absolute;
	display: block;
	pointer-events: none;
}

.connectedAccount-2Jb-Z0 {
	overflow: hidden;
	position: relative;
}

/* Spotify */
.connectedAccountIcon-3_EQqg[src="/assets/eaeac24163b35f7526704a3d9b3c7722.svg"]~div::before {
	--border-color: #1ed760;
}

/* Github */
.connectedAccountIcon-3_EQqg[src="/assets/6a853b4c87fce386cbfef4a2efbacb09.svg"]~div::before {
	--border-color: #fff;
}

/* Twitch */
.connectedAccountIcon-3_EQqg[src="/assets/ca71e0b8818221eea1deebbaf8dc6518.svg"]~div::before {
	--border-color: #563194;
}

/* Twitter */
.connectedAccountIcon-3_EQqg[src="/assets/85cf2b49d2a185c98ec8e383ad5a05d6.svg"]~div::before {
	--border-color: #0099e4;
}

/* XBOX */
.connectedAccountIcon-3_EQqg[src="/assets/1fa6585cbb8c0fe21188e26d19fc6609.svg"]~div::before {
	--border-color: #5ec220;
}

/* Reddit */
.connectedAccountIcon-3_EQqg[src="/assets/f3224f560c8f5974355596a4f7e9ce19.svg"]~div::before {
	--border-color: #ff4500;
}

/* Battle.net */
.connectedAccountIcon-3_EQqg[src="/assets/37f15a06d062bdd0fc252d2b35d0b0bb.svg"]~div::before {
	--border-color: #0099e4;
}

/* Steam */
.connectedAccountIcon-3_EQqg[src="/assets/d897626dfa2016ea3ad0af935acb6070.svg"]~div::before {
	--border-color: #000000;
}

/* YouTube */
.connectedAccountIcon-3_EQqg[src="/assets/57ee9535485efae7eb923ed4893abb57.svg"]~div::before {
	--border-color: #d9252a;
}

/* Facebook */
.connectedAccountIcon-3_EQqg[src="/assets/32045743cb7670855ae726743c949e0c.svg"]~div::before {
	--border-color: #1877f2;
}

/* LOL */
.connectedAccountIcon-3_EQqg[src="/assets/94dc6f30a819026fa295d85f1f72b4ab.svg"]~div::before {
	--border-color: #cea146;
}

/* No wave to say hi */
.welcomeCTAButtonOuter-2VwxSF {
	display: none;
}

/* Embed Redesign */
:root {
	--embed-border-radius: 8px;
}

.embed-IeVjo6 {
	border-radius: var(--embed-border-radius);
}

.embed-IeVjo6 code {
	background: var(--background-secondary);
}

:root {
	--embed-line-width: 256px;
}

.embedFull-2tM8-- {
	border-left: calc(4px + var(--embed-line-width)) solid var(--background-accent);
	background: var(--background-secondary);
}

.grid-1nZz7S {
	margin-left: calc(-1 * var(--embed-line-width));
	z-index: 1;
}

.embedFull-2tM8--:after,
.embedFull-2tM8--:before {
	content: "";
	height: 100%;
	width: var(--embed-line-width);
	position: absolute;
	top: 0;
	left: calc(-1 * var(--embed-line-width));
}

.embedFull-2tM8--:after {
	background: linear-gradient(to right,
			transparent,
			var(--background-secondary));
}

.embedFull-2tM8--:before {
	background: var(--background-secondary);
	opacity: 0.8;
}

/* Hover Channels animated */
.mainContent-u_9PKf:hover {
	animation: UserModalButtons 0.5s normal ease;
}

.mainContent-u_9PKf .noWrap-3jynv6 {
	width: 100px;
	opacity: 1;
}

.mainContent-u_9PKf {
	transition: 0.2s;
}

.mainContent-u_9PKf:hover {
	transition: 0.2;
}

@keyframes UserModalButtons {
	0% {
		transform: translateY(0px);
	}

	45% {
		transform: translateY(-5px);
	}

	90% {
		transform: translateY(0px);
	}
}

/* Revert Role Design */
.role-2irmRk {
	background: transparent;
	border: 1px solid;
	border-radius: 11px;
}

.roleCircle-3xAZ1j {
	margin-left: 0;
}

.addButton-pcyyf6.role-2irmRk {
	border-color: #4f545c;
}

.addButtonIcon-1NMJ8u {
	width: 10px;
	height: 10px;
}

/*Everything Offline*/
/*Offline Revamp*/
.tipTitle-GL9qAt {
	content: "";
	font-size: 0px;
}

.tipTitle-GL9qAt::before {
	content: "Hey...";
	font-size: 12px;
}

.tip-2cgoli {
	content: "";
	font-size: 0px;
}

.tip-2cgoli::before {
	content: "You're Offline :c";
	font-size: 16px;
}

.problems-3mgf6w.slideIn-sCvzGz {
	display: none;
}

.container-16j22k.fixClipping-3qAKRb {
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
}

/* No mirror in camera preview */
.mirror-1Z13AJ {
	transform: none;
}

/* Hide stickers button */
.stickerButton-3OEgwj {
	display: none;
}

/* Sticker size == emoji size */
.cozy-3raOZG .assetWrapper-3GNt0z {
	max-width: 48px;
	max-height: 48px;
}

/* Remove set server profile */
.setIdentityLink-1t8Ahd {
	display: none;
}

/* Remove Nitro Tab */
#private-channels [href="/store"] {
	display: none;
}

/* Disable discord's overcomplicated and extremely laggy settings animations. 
(like seriously, you have to wait a full second before pointer events are even enabled) */
.layer-3QrUeG {
	transform: none !important;
	opacity: 1 !important;
}

.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
	pointer-events: auto !important;
	will-change: unset;
}

.animating-rRxada.stop-animations {
	z-index: 100 !important;
}

/* colorful status indicator */
rect[fill^="hsl(262,"] {
	fill: purple;
}

rect[fill^="hsl(139,"] {
	fill: lime;
}

rect[fill^="hsl(38,"] {
	fill: yellow;
}

rect[fill^="hsl(359,"] {
	fill: red;
}

rect[fill^="hsl(214,"] {
	fill: white;
}

/* Link Previews */
.theme-dark {
	--linkpreview-background: #35363a;
	--linkpreview-color: #e8eaed;
	--linkpreview-border: #2f3033;
}

.theme-light {
	--linkpreview-background: #dee1e6;
	--linkpreview-color: #3c4043;
	--linkpreview-border: transparent;
}

.markup-2BOw-j .anchor-3Z-8Bb:after {
	content: attr(href);
	display: flex;
	align-items: center;
	z-index: 9999;
	background: var(--linkpreview-background);
	line-height: normal;
	font-weight: normal;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: var(--linkpreview-color);
	font-size: 12px;
	padding: 3px 4px;
	padding-right: 6px;
	position: fixed;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: 200ms ease;
	white-space: nowrap;
	box-shadow: inset 0 0 0 1px var(--linkpreview-border);
	border-top-right-radius: 3px;
	pointer-events: none;
}

.markup-2BOw-j .anchor-3Z-8Bb:hover:after {
	opacity: 1;
}

.base-gE7OpD {
	z-index: -1;
}

/* Remove disabled emojis effect */
.emojiItemDisabled-1FvFuF {
	filter: grayscale(0%) !important;
	opacity: 1 !important;
}

/* Space - efficient settings */
.sidebarRegion-VFTUkN,
.sidebarRegionScroller-3MXcoP {
	flex: 0 0 auto;
}

.contentColumnDefault-1VQkGM {
	max-width: unset;
}

/* Profile Modal Gradient */
.banner-2QYc2d.popoutBanner-19WKGg::after,
.banner-2QYc2d.profileBanner-33-uE1::after {
	content: '';
	background-image: linear-gradient(45deg, #000000bd, transparent);
	width: 100%;
	height: 100%;
	position: absolute;
}

.topSection-y3p-_D header {
	padding-top: 120px;
}

.banner-2QYc2d.profileBanner-33-uE1 {
	opacity: 0.8;
	position: absolute;
	height: 100%;
	transform: translateY(-120px);
}

.banner-2QYc2d.popoutBanner-19WKGg {
	opacity: 0.8;
	position: absolute;
	height: 100%;
}

div.bodyInnerWrapper-26fQXj,
div.footer-3UKYOU,
.root-1gCeng,
.userPopout-xaxa6l,
.avatar-AvHqJA.wrapper-3t9DeA {
	background-color: transparent;
}

.headerNormal-3KXFBt {
	height: 60px;
}

.userPopout-xaxa6l .avatar-37jOim,
.avatar-AvHqJA.wrapper-3t9DeA,
.input-cIJ7To {
	background-color: #00000020;
	border-color: transparent;
}

.layer-v9HyYc:not(.disabledPointerEvents-1ptgTB),
.input-cIJ7To {
	backdrop-filter: blur(5px);
}

/*transparent call background*/
.wrapper-2qzCYF,
.minimum-28Z35l,
.callContainer-36WRfH {
	background: none !important;
	backdrop-filter: blur(20px);
}

/* Animated vc options */
.wrapper-24pKcD {
	transition: all 0.5s ease;
	transform: translateY(89px);
	height: 0;
}

.panels-j1Uci_:hover .wrapper-24pKcD {
	transform: none;
	height: 89px;
}

.panel-24C3ux {
	transition: all 0.5s ease;
	height: 0;
	padding: 0px 8px;
	transform: translateY(49px);
}

.panels-j1Uci_:hover .panel-24C3ux {
	transform: none;
	height: 32px;
	padding: 8px;
}

/* Brighter thread spine */
.spine--Wla_O {
	color: rgb(255, 255, 255);
}

/* Cooler Reactions */
.reaction-1hd86g {
	background: -webkit-linear-gradient(120deg,
			rgba(138, 157, 224, 0.125),
			rgba(255, 255, 255, 0.152));
	background-clip: border-box;
	-webkit-background-clip: border-box;
	border-color: #67686a;
	border-width: 2px;
	border-radius: 2px;
}

.reaction-1hd86g:hover {
	background: -webkit-linear-gradient(80deg,
			rgb(146, 191, 221),
			rgb(255, 255, 255));
	background-clip: text;
	-webkit-background-clip: text;
}

.reaction-1hd86g:hover {
	background: -webkit-linear-gradient(120deg,
			rgba(138, 157, 224, 0.125),
			rgba(255, 255, 255, 0.152));
	background-clip: border-box;
	-webkit-background-clip: border-box;
}

/* Change hue of replies */
:root {
	--mention-hue: 187;
}

.mentioned-xhSam7 .repliedMessage-VokQwo:before {
	border-color: hsla(var(--mention-hue), 73%, 46%);
}

.mentioned-xhSam7,
.menu-3sdvDG,
.mouse-mode.full-motion .mentioned-xhSam7:hover,
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z {
	background-color: hsla(var(--mention-hue), 73%, 46%, 0.1);
}

.mentioned-xhSam7:before,
.menu-3sdvDG:before {
	background-color: hsla(var(--mention-hue), 73%, 46%);
}

/* Beautiful Links */
[href*="youtu.be"],
[href*="youtube.com"] {
	color: #c4302b !important;
	font-weight: 700;
}

[href*="twitch.tv"] {
	color: #b700ff !important;
	font-weight: 700;
}

[href*="spotify.com"] {
	color: rgb(19, 185, 4) !important;
	font-weight: 700;
}

[href*="discord.com/channels/"] {
	color: #7289da !important;
}

[href*="discord.com/channels/"]::before {
	content: "Jump to Message : ";
	font-size: 16px;
	font-weight: 700;
	color: #603cff;
}

[href*="reddit.com"] {
	color: #e05a0c !important;
	font-weight: 700;
}

[href*="instagram.com/"] {
	background: -webkit-linear-gradient(80deg,
			rgb(255, 238, 0),
			rgb(255, 157, 11),
			#b700ff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}

[href*="twitter.com/"] {
	color: #00acee !important;
	font-weight: 700;
}

[href*="betterdiscord.app/"],
[href*="discord.gg/"] {
	color: #7289da !important;
	font-weight: 700;
}

[href*="github.com"] {
	color: #00f0a8 !important;
	font-weight: 700;
}