/* Better Settings */

@import url('https://xhylo.github.io/BetterSettings/BetterSettings.css');

/* Win Mac Buttons */

@import url('https://xhylo.github.io/WinMacbuttons/winmacbuttonssc.css');

/* Import for Settings Icons */

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css');

/* Import for adding UserBG to memberlist */

@import url('https://usrbg.cyleja1234.repl.co/style.css?selector=.member-3-YXUe&.root-3QyAh1&.userPopout-xaxa6l&.channel-2QD9_O');

/* Imports for Animated Rings */


/* The base speaking rings */

@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/base.css');

/* The voice connected panel */

@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/voiceconnectedpanel.css');

/* The fullscreen user panels */

@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/bigusers.css');

/* Emote Fix */

img.emote {
    text-indent: 0;
    white-space: nowrap;
    width: auto;
    position: relative;
    top: 0.25ex;
}


/* Settings Icons */

:root {
    --settingsiconssize: 18px;
    --settingsiconsgap: 14px;
}


/* Remove Pencil Icon Banners */

.banner-2QYc2d:hover .bannerOverlay-1uIerX,
.banner-2QYc2d:hover .pencilIcon-XSi-VE {
    display: none;
}


/* Hide Discovery Button */

[href="/discovery"] {
    display: none;
}


/* Premium (120px/custom) banner height if the user has a banner, otherwise default (60px). */

.userPopout-3XzG_A:not([style*="-user-background"]) .profileBanner-33-uE1 {
    height: 60px;
}

.userPopout-3XzG_A:not([style*="-user-background"]) .avatarWrapperNormal-2tu8Ts {
    top: 16px;
}

.userPopout-3XzG_A[style*="-user-background"] .profileBanner-33-uE1 {
    height: var(--USRBG-banner-height, 120px);
}

.userPopout-3XzG_A[style*="-user-background"] .avatarWrapperNormal-2tu8Ts {
    top: var(--USRBG-avatar-offset, 76px);
}


/* Colorful Embeds */

[href*="youtu.be"],
[href*="youtube.com"] {
    color: #c4302b !important;
    font-weight: 700;
}

[href*="twitch.tv"] {
    color: #b700ff !important;
    font-weight: 700;
}

[href*="spotify.com"] {
    color: rgb(19, 185, 4) !important;
    font-weight: 700;
}

[href*="discord.com/channels/"] {
    color: #7289da !important;
}

[href*="discord.com/channels/"]::before {
    content: 'Jump to Message : ';
    font-size: 16px;
    font-weight: 700;
    color: #603cff;
}

[href*="reddit.com"] {
    color: #e05a0c !important;
    font-weight: 700;
}

[href*="instagram.com/"] {
    background: -webkit-linear-gradient(80deg, rgb(255, 238, 0), rgb(255, 157, 11), #b700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

[href*="twitter.com/"] {
    color: #00acee !important;
    font-weight: 700;
}

[href*="betterdiscord.app/"],
[href*="discord.gg/"] {
    color: #7289da !important;
    font-weight: 700;
}

[href*="github"] {
    color: #00f0a8 !important;
    font-weight: 700;
}


/* Hide disabled text area */

.channelTextAreaDisabled-8rmlrp {
    display: none;
}


/* Old Roles */

.role-2irmRk {
    background: transparent;
    border: 1px solid;
    border-radius: 11px;
}

.roleCircle-3xAZ1j {
    margin-left: 0;
}

.addButton-pcyyf6.role-2irmRk {
    border-color: #4f545c;
}

.addButtonIcon-1NMJ8u {
    width: 10px;
    height: 10px;
}


/* Hide the cursor when the video controls are hidden */

.wrapperControlsHidden-35Gtol {
    cursor: none;
}


/* Discord Message box */

:root {
    --color-brand-lighter: #4373c5;
}

.input-cIJ7To,
.scrollableContainer-2NUZem {
    background-color: #292929;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    border: 1px solid transparent;
    outline: none;
}

.input-cIJ7To:hover,
.scrollableContainer-2NUZem:hover {
    border-color: #4373c5;
    background-color: #2e2c2c;
}

.input-cIJ7To:focus-within,
.scrollableContainer-2NUZem:focus-within {
    background-color: #2e2c2c;
    border-color: var(--color-brand-lighter);
}

.scrollableContainer-2NUZem {
    border: 1px solid transparent;
    border-radius: 25px;
}


/* settings/deafen/mute buttons animated */

.button-14-BFJ:hover .contents-18-Yxp {
    animation: UserModalButtons 0.5s normal ease;
}

.container-3baos1 .noWrap-3jynv6 {
    width: 100px;
    opacity: 1;
}

.button-14-BFJ {
    transition: 0.2s;
}

.button-14-BFJ:hover {
    padding-bottom: 0px;
    transition: 0.2;
}

@keyframes UserModalButtons {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}


/* Resizable Threads */

:root {
    --sidebar-width: 240px;
    /* change if your theme resizes the sidebar */
}

.chat-3bRxxu.threadSidebarOpen-vdkwIh {
    resize: horizontal;
    min-width: 400px;
    max-width: calc(100vw - var(--sidebar-width) - 72px - 400px);
}

.chat-3bRxxu:not(.threadSidebarOpen-vdkwIh) {
    width: unset !important;
    flex: 1 1 auto;
}

.threadSidebar-1o3BTy {
    width: unset;
    flex: 1 1 auto;
}


/*Rainbow wave mentions*/

html .mention.wrapper-3WhCwL.mention.interactive {
    background-image: linear-gradient(to left, rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
    animation: gradient-border 3s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}

@keyframes gradient-border {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 130% 0;
    }
}


/* Hide the red "NEW" Unread Mentions Indicator at the top and bottom of the Server List
CSS */

.unreadMentionsIndicatorBottom-2mDYbI,
.unreadMentionsIndicatorTop-2-tcdU {
    display: none;
}


/*Everything Offline*/


/*Offline Revamp*/

.tipTitle-GL9qAt {
    content: "";
    font-size: 0px;
}

.tipTitle-GL9qAt::before {
    content: "Hey...";
    font-size: 12px;
}

.tip-2cgoli {
    content: "";
    font-size: 0px;
}

.tip-2cgoli::before {
    content: "You're Offline :c";
    font-size: 16px;
}

.problems-3mgf6w.slideIn-sCvzGz {
    display: none;
}

.container-16j22k.fixClipping-3qAKRb {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}


/* Pin Home Button */

.guilds-1SWlCJ .tree-2wKJdG:focus {
    outline-color: transparent;
}

.guilds-1SWlCJ .scroller-1Bvpku {
    contain: unset;
    margin-top: 56px;
}

.guilds-1SWlCJ .scroller-1Bvpku .tutorialContainer-2sGCg9 {
    position: fixed;
    transform: translatey( -100%);
}


/* Role Color Background in Role Management */

.roleName-2IkRdr {
    z-index: 1
}

.item-PXvHYJ>.roleDot-ZwSovK::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: inherit;
    opacity: 0.15;
    top: 0;
    left: 0;
    border-radius: 4px;
}


/* Smaller Stickers */

.cozy-3raOZG .assetWrapper-3GNt0z {
    max-width: 48px;
    max-height: 48px
}


/* Resizable Channel/DM List */

:root {
    --sidebar-initial-width: 240px;
}

.sidebar-2K8pFh {
    resize: horizontal;
    width: var(--sidebar-initial-width);
}

.sidebar-2K8pFh .channel-2QD9_O {
    max-width: unset;
}

.bannerImage-3KhIJ6 {
    width: 100%;
}


/* Hide nitro icon on banners */

.bannerPremium-2hSAwz .premiumIconWrapper-1A-UH5 {
    display: none;
}


/* Lag Less Settings */

.layer-3QrUeG {
    transform: none !important;
    opacity: 1 !important;
}

.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
    pointer-events: auto !important;
    will-change: unset;
}

.animating-rRxada.stop-animations {
    z-index: 100 !important;
}


/* Hide GIFT button */

.buttons-3JBrkn>.button-38aScr:not(.BD-TeX-plugin-button)> :not(.translateButton-DhP9x8):not(.quickToggleButton-P2xDh8) {
    display: none
}


/* Hide GIF button */

.buttonContainer-28fw2U:not(.send-button)> :not(.emojiButton-3uL3Aw):not(.fm-button)> :not(.stickerButton-3OEgwj) {
    display: none
}


/* Hide Stickers button */

.stickerButton-3OEgwj {
    display: none
}


/* Hide Floating Steam Previews */

.pictureInPictureVideo-2iKsGg {
    display: none;
}


/* No Nitro */

[href="/store"],
[aria-controls="Discord Nitro-tab"],
[aria-controls="Billing-tab"],
[aria-controls="Nitro Server Boost-tab"],
#guild-header-popout>div>.separator-2I32lJ:nth-child(2),
.shinyButton-3uFlM-,
.emojiSection-3Fb9ix>.flex-1xMQg5>.size14-e6ZScH,
.emojiSection-3Fb9ix>.flex-1xMQg5>.flex-1xMQg5>.size14-e6ZScH,
.emptyStateSubtext-2hdA9c,
.content-2c3hgM,
.wrapper-1hrFc0,
.wrapper-3nSjSv,
.divider-Uf0Wob,
.perksModalContentWrapper-2HU6uL>.content-2qfHzC:nth-child(3),
.guildsBlurb-2AgVCC,
.marketingHeader-d16BX1,
.content-3BhRLj>div:not(.marketingLogo-1D8DV6),
.content-3BhRLj>h3,
.subscribeTooltipWrapper-1JoUuw,
.headerBlurb-1GxBrq,
.giftAction-yhDLaW,
.tierMarkerLabelContainer-1qM0Ak,
.upsell-34F9Me,
.premiumPromo-fVlLu-,
.stickerShopIconWrapper-2SZmQ6,
.selectorButtonPremiumRequired-mKMbIu,
.premiumUpsell-2vHaVa {
    display: none;
}

.emojiSection-3Fb9ix>.flex-1xMQg5,
.popoutContainer-1MXdqN>.flex-1xMQg5 {
    flex-direction: column;
    align-items: center;
}

.emojiSection-3Fb9ix>.flex-1xMQg5>.flex-1xMQg5,
.popoutContainer-1MXdqN>.flex-1xMQg5>.flex-1xMQg5 {
    margin-left: 0px;
}

.primaryEmoji-3LinDq {
    margin: 0px 0px 12px 0;
}

.popoutContainer-1MXdqN {
    width: auto;
}

.ctaBar-2UsjF2 {
    margin: auto;
}

.wrapper-2iFQJ9>.header-2k4I2o>.wrapper-3ir_7D {
    padding-right: 0;
}

.settingsGroup-2NaPKC .item-3T2z1R:nth-child(2) {
    border-radius: 0 3px 3px 0;
}


/* Space Efficient Settings */

.sidebarRegion-VFTUkN,
.sidebarRegionScroller-3MXcoP {
    flex: 0 0 auto;
}

.contentColumnDefault-1VQkGM {
    max-width: unset;
}


/* Recolor Thread Spine */

.spine--Wla_O {
    color: rgb(255, 255, 255);
}


/* adds background to private user list, member list, user popout, and the module */


/* also alerts user to use the 0BDFDB lib if they dont have it */

.userPopout-xaxa6l:not([style*='--user-background']) .banner-2QYc2d,
.root-3QyAh1:not([style*='--user-background']) .banner-2QYc2d {
    background: var(--ub) !important;
    background-size: cover;
    background-position: center
}

.member-3-YXUe::before,
.privateChannels-1nO12o a.channel-2QD9_O::before {
    background-size: cover;
    background: var(--ub) center;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    -webkit-mask: linear-gradient(90deg, transparent, black);
}

body:not([data-current-user-id])::after {
    content: "please use 0BDFDB, it allows me to give more improvements!";
    width: 47ch;
    height: 25px;
    padding: 7px 5px 0 5px;
    border-radius: 0 0 0 10px;
    background: #ff1f1fa6;
    top: 22px;
    right: 0;
    z-index: 10000;
    position: fixed;
    backdrop-filter: blur(5px);
    font-weight: bold;
}


/* Animated Rings */

:root {
    --gradient1: #0575E6;
    --gradient2: #00F260;
    --gradientangle: 45deg;
    --dmvoicebgcolor: #18191c
}


/* Hide Scams */

*[href^="http://steamcommrunity.com"],
*[href^="https://rogarea"],
*[href^="https://steamcomrnunity"],
*[href^="https://dlscord.online"],
*[href^="https://stearncmmmunyliy"],
*[href^="https://steamcommunitya"],
*[href^="https://steamcommunityc"],
*[href^="https://dlscord-nitro"],
*[href^="https://steamcommunutiy"],
*[href^="https://discorcl"] {
    display: none
}


/* Remove disabled emojis gray filter */

.emojiItemDisabled-1FvFuF {
    filter: grayscale(0%);
}


/*Brighter Status*/

#app-mount .wrapper-3t9DeA rect[fill="#593695"],
#app-mount .wrapper-3t9DeA rect[mask*=streaming] {
    fill: purple
}

#app-mount .wrapper-3t9DeA rect[fill="#43b581"],
#app-mount .wrapper-3t9DeA rect[mask*=online] {
    fill: lime
}

#app-mount .wrapper-3t9DeA rect[fill="#faa61a"],
#app-mount .wrapper-3t9DeA rect[mask*=idle] {
    fill: yellow
}

#app-mount .wrapper-3t9DeA rect[fill="#f04747"],
#app-mount .wrapper-3t9DeA rect[mask*=dnd] {
    fill: red
}

#app-mount .wrapper-3t9DeA rect[fill="#747f8d"],
#app-mount .wrapper-3t9DeA rect[mask*=offline],
#app-mount .wrapper-3t9DeA rect[fill=NaN] {
    fill: #A0A0A0
}


/* Rainbow Section*/


/* UserIds
.subtext-3CDbHg,
.customStatus-3tC2ig,
.hovered-d5PMVU,
.title-eS5yk3 {
    background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
    animation: gradient-border 4s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}
@keyframes gradient-border {
from {
    background-position: 0 0;
}
to {
    background-position: 130% 0;
}
} */


/* Rainbow wave mentions */

html .mention.wrapper-3WhCwL.mention.interactive {
    background-image: linear-gradient(to left, rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
    animation: gradient-border 3s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1;
}

@keyframes gradient-border {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 130% 0;
    }
}


/* Codeblocks */

* {
    --dark-shade: rgba(15, 0, 15, 0.95)
}

.contentWrapper-SvZHNd,
.wrapper-1-Fsb8,
.header-ywPcAE,
.list-donH_Z,
.inspector-S2gM3e,
.inspector-3LQtX9 {
    background: var(--dark-shade);
}

.guildIcon-3h-1IH:hover::before {
    content: attr(alt);
}

.guildIcon-3h-11H {
    border-bottom: 10px dashed #000;
    pointer-events: all;
}

.titleSecondary-3Dh_RZ {
    transform: translateX(90%);
}

#app-mount .edited-3sfAzf::before {
    content: "is ";
}

code.hljs {
    border-width: 2px !important;
    border-color: red;
    animation: test 18s ease infinite;
    display: block;
}

@keyframes test {
    0% {
        border-color: #ff2400;
    }
    10% {
        border-color: #e81d1d;
    }
    20% {
        border-color: #e8b71d;
    }
    30% {
        border-color: #e3e81d;
    }
    40% {
        border-color: #1de840;
    }
    50% {
        border-color: #1ddde8;
    }
    60% {
        border-color: #2b1de8;
    }
    70% {
        border-color: #dd00f3;
    }
    80% {
        border-color: #dd00f4;
    }
    100% {
        border-color: #ff2400;
    }
}


/* Usernames 
.username-1A8OIy,

/* Text
.markup-2BOw-j {
animation: rainbow 5s linear 0s infinite normal
}
@keyframes rainbow {
    0%    {color: #ff0000}
    12%   {color: #ffbf00}
    25%   {color: #80ff00}
    37%   {color: #00ff40}
    50%   {color: #00ffff}
    62%   {color: #0040ff}
    75%   {color: #8000ff}
    87%   {color: #eb34bd}
    100%  {color: #ff0000}
} */


/* Inbox -> @ */

.search-36MZv-+.iconWrapper-2OrFZ1 path {
    d: path("M12 2C6.486 2 2 6.486 2 12C2 17.515 6.486 22 12 22C14.039 22 15.993 21.398 17.652 20.259L16.521 18.611C15.195 19.519 13.633 20 12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12V12.782C20 14.17 19.402 15 18.4 15L18.398 15.018C18.338 15.005 18.273 15 18.209 15H18C17.437 15 16.6 14.182 16.6 13.631V12C16.6 9.464 14.537 7.4 12 7.4C9.463 7.4 7.4 9.463 7.4 12C7.4 14.537 9.463 16.6 12 16.6C13.234 16.6 14.35 16.106 15.177 15.313C15.826 16.269 16.93 17 18 17L18.002 16.981C18.064 16.994 18.129 17 18.195 17H18.4C20.552 17 22 15.306 22 12.782V12C22 6.486 17.514 2 12 2ZM12 14.599C10.566 14.599 9.4 13.433 9.4 11.999C9.4 10.565 10.566 9.399 12 9.399C13.434 9.399 14.6 10.565 14.6 11.999C14.6 13.433 13.434 14.599 12 14.599Z")
}


/* Avatar Improvements */

.avatar-1BDn8e:hover.clickable-1bVtEA:hover {
    filter: drop-shadow(0 0 8px cyan);
    color: pink;
    transform: rotate(360deg);
    transition: width .5s ease, height .5s ease, transform .5s ease;
}

.avatar-1BDn8e.clickable-1bVtEA {
    filter: drop-shadow(0 0 4px);
    color: pink;
}

.setIdentityLink-OpBDR6 {
    display: none
}


/* Remove the cringe "create thread" line */

.threadSuggestionBar-2ufK2Z {
    display: none !important;
}


/* Message Fade */

.messagesWrapper-1sRNjr {
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 28px);
}

.content-yTz4x3::before {
    content: none !important;
}


/* Emoji Picker Improvements */

[aria-label$="emoji-picker-tab"] {
    background-color: black;
}

[aria-label$="recent"] {
    background-color: black;
}

[aria-current$="page"] {
    background-color: black;
}

.unicodeShortcut-15J8Ck {
    background-color: black;
}

.header-8ilj5e {
    background-color: black;
}


/* Hover Channels animated */

.mainContent-u_9PKf:hover {
    animation: UserModalButtons 0.5s normal ease;
}

.mainContent-u_9PKf .noWrap-3jynv6 {
    width: 100px;
    opacity: 1;
}

.mainContent-u_9PKf {
    transition: 0.2s;
}

.mainContent-u_9PKf:hover {
    transition: 0.2;
}

@keyframes UserModalButtons {
    0% {
        transform: translateY(0px);
    }
    45% {
        transform: translateY(-5px);
    }
    90% {
        transform: translateY(0px);
    }
}


/* Rainbow Server Names */

@keyframes rainbow-server-settings {
    from {
        color: #33FF00
    }
    25% {
        color: #FFE600
    }
    50% {
        color: red
    }
    75% {
        color: #EA00FF
    }
    100% {
        color: #008CFF
    }
}

.button-1w5pas {
    animation: rainbow-server-settings 4s ease-in-out infinite;
}

.name-1jkAdW {
    animation: rainbow-server-settings 4s ease-in-out infinite;
}


/* Compact Reactions */

.message-2qnXI6:hover .reactionCount-2mvXRV {
    font-size: 14px;
    transform: translate(0px);
    transition-delay: 0s;
}

.message-2qnXI6:hover .reaction-1hd86g {
    max-width: 90px;
    width: auto;
}

.reaction-1hd86g {
    max-width: 30px;
    transition: 0.5s;
    transition-timing-function: ease-out;
}

.reactionCount-2mvXRV {
    font-size: 0px;
    transition-duration: 0.2s;
    transform: translate(-20px);
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
}


/* Stops community server icons from shrinking in emoji popouts */

.guildSection-1EoFKd>.flex-1xMQg5>svg {
    flex-shrink: 0;
}


/* Small slide animation when switching channels

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.message-2qnXI6 {
    animation: slide-up 0.4s ease;
}  */


/* Makes colored banners consistent with premium banners */

.popoutBanner-19WKGg {
    height: 120px;
}

.profileBanner-33-uE1 {
    height: 240px;
}

.avatarPositionNormal-aZjAsn {
    top: 76px;
}


/* Colored Context Menu */

#message-actions-pin,
#message-pin,
#message-unpin {
    color: skyblue;
}

#message-actions-pin:hover,
#message-pin:hover,
#message-unpin:hover {
    background-color: #67a7c0;
    color: #fff;
}

#message-actions-reply,
#message-reply {
    color: khaki;
}

#message-actions-reply:hover,
#message-reply:hover {
    background-color: #c5bb5d;
    color: #fff;
}

#message-actions-thread,
#message-thread {
    color: #69c069;
}

#message-actions-thread:hover,
#message-thread:hover {
    background-color: #5dbd5d;
    color: #fff;
}

#message-actions-mark-unread,
#message-mark-unread {
    color: plum;
}

#message-actions-mark-unread:hover,
#message-mark-unread:hover {
    background-color: #c27ec2;
    color: #fff;
}

#message-actions-copy-link,
#message-copy-link {
    color: lightseagreen;
}

#message-actions-copy-link:hover,
#message-copy-link:hover {
    background-color: #199c96;
    color: #fff;
}

#message-actions-tts,
#message-tts {
    color: var(--brand-experiment);
}

#message-actions-tts:hover,
#message-tts:hover {
    background-color: var(--brand-experiment);
    color: #fff;
}

#message-actions-copy-id,
#message-devmode-copy-id {
    color: lightsalmon;
}

#message-actions-copy-id:hover #message-devmode-copy-id:hover {
    background-color: lightsalmon;
    color: #fff;
}

#message-edit,
#message-actions-edit {
    color: steelblue;
}

#message-edit:hover,
#message-actions-edit:hover {
    background-color: steelblue;
    color: #fff;
}

#message-add-reaction {
    color: goldenrod;
}

#message-add-reaction:hover {
    background-color: goldenrod;
    color: #fff;
}


/* Green Text */

[class*="blockquoteDivider-"] {
    width: 0 !important;
}

[class*="blockquoteDivider-"]::before {
    content: ">";
}

[class*="blockquoteContainer-"] blockquote,
[class*="blockquoteDivider-"]::before {
    color: lightgreen;
}


/* Remove new message timestamp syntax's custom styling */

.timestamp-1Dd_pn {
    background-color: transparent;
    border-radius: inherit;
    padding: inherit;
}


/* Fix pronoun-less names in chat having a space after it */

.header-23xsNx>.pronoundb-pronouns:empty {
    margin-right: 0 !important;
}


/* Center the custom status emoji if there's no status text. */

.customStatus-oN4ZZY>.customStatusEmoji-3a2-Zo.customStatusSoloEmoji-1tDhmL:only-child {
    margin-right: auto;
    margin-left: auto;
}


/* blurs the banner while its shrunk */

.header-2V-4Sw {
    backdrop-filter: blur(8 px) !important;
}

.hasBanner-2SrLR3 .header-2V-4Sw,
.hasBanner-2SrLR3 .header-2V-4Sw:hover {
    backdrop-filter: blur(0 px) !important;
}


/* 2-lined channel topic */

[class*="chat-"]>[class*="title-"]>[class*="children-"]>[class*="topic-"] {
    white-space: normal;
    max-height: 2.4em;
    font-size: .9em;
    line-height: 1.2em;
    text-overflow: ellipsis;
    position: relative;
}

[class*="chat-"]>[class*="title-"]>[class*="children-"]::after {
    content: unset;
}

[class*="chat-"]>[class*="title-"]>[class*="children-"]>[class*="topic-"]::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1em;
    background: linear-gradient(to right, transparent, var(--background-primary), var(--background-primary)) !important;
    display: flex;
    width: 130px;
}


/* Messenger Moment */


/*message shape

.cozy-3raOZG.wrapper-2a6GCs {
    padding-top: 1px;
    padding-bottom: 1px;
}

.cozyMessage-3V1Y8y:not(.groupStart-23k01U)>.contents-2mQqc9>.markup-2BOw-j:not(:empty) {
    border-radius: 6px 15px 15px 6px;
}

.contents-2mQqc9>.markup-2BOw-j:not(:empty) {
    display: inline-block;
    max-width: 650px;
    margin: 0;
    padding: 8px 12px 7px;
    border-radius: 15px 15px 15px 6px;
    position: relative;
    overflow: visible;
}


/*bubble color

.theme-light [data-is-author-self=false] .markup-2BOw-j:not(:empty) {
    background-color: #E4E6EB;
}

.theme-dark [data-is-author-self=false] .markup-2BOw-j:not(:empty) {
    background-color: #313131;
}

[data-is-author-self=true]>.contents-2mQqc9>.markup-2BOw-j:not(:empty) {
    background-image: linear-gradient(#00c8d3 0%, #3654e8 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*text style

.container-3-pyIM *,
.contents-2mQqc9>.markup-2BOw-j,
.contents-2mQqc9>.markup-2BOw-j>* {
    color: #fff!important;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

.theme-light [data-is-author-self=false] .container-3-pyIM *,
.theme-light [data-is-author-self=false] .markup-2BOw-j,
.theme-light [data-is-author-self=false] .markup-2BOw-j>* {
    color: #000!important;
}


/*last rounded corner

.groupStart-23k01U:before,
.hasContent-1cNJDh:before,
.cozyMessage-3V1Y8y+.scrollerSpacer-avRLaA:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    border-bottom-left-radius: 20px;
    border: 5px solid var(--background-primary);
    border-right: 0;
    border-top: 0;
}

.groupStart-23k01U:before {
    transform: translate(-20%, -156%);
}

.hasContent-1cNJDh:before {
    left: 51px;
    transform: translateY(-132%);
}

.cozyMessage-3V1Y8y+.scrollerSpacer-avRLaA:before {
    left: 67px;
    transform: translateY(-84%);
}

.mentioned-xhSam7:before {
    left: unset;
    top: unset;
    bottom: unset;
}

.mentioned-xhSam7+*:before,
.isUnread-3Ef-o9.hasContent-1cNJDh+.groupStart-23k01U:before,
.hasContent-1cNJDh+.groupStart-23k01U:before,
.backgroundFlash-24qWLN:before {
    visibility: hidden;
}
*/